<header id="header">
    <nav class="header-nav">
        <div class="logo-img">
            <a href="/">
                <img src="https://pbs.twimg.com/media/CyGXXiZWEAEznfZ.png" width="120px" height="64px"/>
            </a>
        </div>
        <div class="search-label">
            <form class="input-label">
                <input size="80" type="text" placeholder="Seach...">
                <div class="search-button">
                    <button>
                        Search
                    </button>
            </form>
            </div>
        </div>
    </nav>
</header>