#main-content-container {
    display: flex;
    flex-direction: column;
}


.goods-category-name {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-size: 100px;
}


.goods-img{
    max-width: 85%;
    max-height: 85%;
    margin: 20px;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
}

.goods-list>* {
    flex: 1 500px
}