<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <link href="/css/goods-category-page.css" rel="stylesheet" type="text/css">
    </head>
<body>
    {{> header}}
    <div id="main-content">
        <div class="goods-list">
            {{#each goods}}
            <div class="goods-element" >
             <a href="/goods/:{{this.category}}/:{{this.ID}}"><img class='goods-img' src="/img/{{#if this.img_path}}{{this.img_path}}{{else}}default{{/if}}.jpg"/></a>
            </div>
            {{/each}}
        </div>
    </div>
</body>
</html>