<!DOCTYPE html>
<html>
<head>
    {{>head}}
    <link href="/css/home-page.css" rel="stylesheet" type="text/css">
</head>
<body id="page-layout">
    {{> header}}
    <div id="main-content">
        <div class="top-preview-goods-layot">
            <div class="top-goods-items">
                <a href="/goods"><img class='goods-img'src="https://m.media-amazon.com/images/I/71v6We6QQcL._AC_SY450_.jpg"/></a>
            </div>
            <div class="top-goods-items">
                <a href="/goods"><img class='goods-img'src="https://m.media-amazon.com/images/I/71v6We6QQcL._AC_SY450_.jpg"/></a>
            </div>
        </div>
        <div class="main-preview-goods">
            <div class="main-preview-goods-el">
                <div class="goods-name">
                    Техніка
                </div>
                <ul class="main-preview-goods-el-items">
                    <li><a href="/goods"><img class='goods-img'src="https://m.media-amazon.com/images/I/71v6We6QQcL._AC_SY450_.jpg"/></a></li>
                    <li><a href="/goods"><img class='goods-img'src="https://m.media-amazon.com/images/I/71v6We6QQcL._AC_SY450_.jpg"/></a></li>
                    <li><a href="/goods"><img class='goods-img'src="https://m.media-amazon.com/images/I/71v6We6QQcL._AC_SY450_.jpg"/></a></li>
                    <li><a href="/goods"><img class='goods-img'src="https://m.media-amazon.com/images/I/71v6We6QQcL._AC_SY450_.jpg"/></a></li>
                    <li><a href="/goods"><img class='goods-img'src="https://m.media-amazon.com/images/I/71v6We6QQcL._AC_SY450_.jpg"/></a></li>
                    <li><a href="/goods"><img class='goods-img'src="https://m.media-amazon.com/images/I/71v6We6QQcL._AC_SY450_.jpg"/></a></li>
                </ul>
            </div>
    </div>
</body>
</html>